
#homeCss{
	background-image: url("background1.jpg" );
	background-repeat:no-repeat;
	background-size: 1500px ;
	background-attachment: fixed;
}

#top1{
	background-attachment:fixed;
	background-image: url("meObacityGood.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 600px;
	background-color: powderblue;
	padding:36px;
	padding-bottom: 42px;
	margin: -8px;
}
#header1{
	position: sticky;
	top:0px;
	margin-top:2.5%;
	margin-left:5%;
	padding-bottom: 3%;
	font-size: 2.5vw;
	display: block;
}div.center1{
	position: absolute;
	right: 15%;
	display: block;
	font-size:3.5vw;
	text-align:center
}#allCenter{
	display: block;
}
#centerimg{
	border: 1px solid white;
	#margin-left:20px;
	width:150px;
	height:170px;
	border-radius: 0%;
}
#centerimg:hover{
	opacity: 0.88;
	border-radius:50%;
}
#left1{
	position: absolute;
	left:0px;
	display: inline;
	#margin-left:-6px;
	#margin-top: -520px;
}#leftimg{
	width:20vw;
	height: 32vw;
}
   a#moreimg:hover{
	margin-left: 40px;
	opacity: .5;

	
}
div.desc{
	font-size:35px;
}
	
#bottom1{
	max-width:1500px;
	font-size:35px;
	border: 1px solid #454545;
	background-color: #454545;
	height: 160px;
	position: static;
	margin-top:100%;
	color : white;
	text-align: center;
}
#bottomimg{
	display:inline;
	margin-top: -105px;
	 width:125px;
	 height:150px;
	 margin-left:70%;
}
#I1,#I2{
	font-size: 210%;
	margin:5%;
	margin-top:10%;
	padding: 5%;
	background-color:#9acd32;
	border-right: 30px solid green;
	width:45%;
}
a{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
#I1:hover, #I2:hover{
	background-color:#78ab10;
	padding:5%;
	width:55%;
}
#fresh{
	background-image: url("meFreshman.png") ,url("iugBackground1.jpg" );
	background-attachment:fixed ,  fixed;
	background-position:bottom right , center;
	background-repeat:no-repeat , no-repeat;
	background-size:350px  , cover;
	font-size:60px;
	margin-bottom: -15px;
	background-color: powderblue;
	opacity: 1;
}
#fresh1{
	font-size:50px;
	background-color: tomato;
	padding:15px;
	margin:-6px;
	margin-right: -5px;
}
#fText{
	background-color: rgba(0, 149, 237, 0.35);
	padding-bottom:20px;
	margin-right: 300px;

}
#sText{
	padding-left: 500px;
	
}
#self{
	background-image: url("meFree.png");
	background-attachment:fixed;
	background-position:bottom left;
	background-repeat:no-repeat;
	background-size:350px;
	font-size:60px;
	margin-top:-50px;
}
#self1{
	font-size:50px;
	background-color: tomato;
	padding:15px;
	margin:-6px;
	margin-right:-5px;
	
}
	
	
    
	
	