
#homeCss{
	background-image: url("background1.jpg" );
	background-repeat:no-repeat;
	background-size: 5000px 800px;
}
#moreCss{
	backgroun-image: url("meObacityGood.png");
}
#header1{
	margin-top:50px;
	margin-left:50px;
	font-size: 25px;
}#center1{
	margin-left:200px;
	font-size:45px;
	text-align:center
}#centerimg{
	margin-left:20px;
	width:150px;
	height:170px;
}#left1{
	margin-top: -520px;
}
   a#moreimg:hover{
	margin-left: 40px;
	opacity: .5;
	background-color: #555555;
	
}
	
#bottom1{
	font-size:35px;
	border: 1px solid #232323;
	background-color: #232323;
	height: 160px;
	margin-top: -170px -40px 0px -40px;
}
#bottomimg{
	margin-top: -105px;
	 width:125px;
	 height:150px;
	 margin-left:800px;
}